<link ref="app.component" href="app.component.css">
<link ref="app.component" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col">
                    <div class="menu-bar">
                        <ul>
                            <li class="active"><a routerLink="showemail"><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                            Home</a></li>
                            <!--<li><a routerLink="aboutme"><mat-icon aria-hidden="false" aria-label="Example home icon">person_filled</mat-icon>About me</a>
                            </li>-->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="text-align: center;border: 1px;">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <div class="row">
                <div class="col">
            
                </div>
            </div>
        </div>
    </div>
</div>